$shd: #{'alpha(var(--fg), 0.2)'};
$dim: #{'alpha(var(--fg), 0.4)'};
$txt: #{'alpha(var(--fg), 0.8)'};
$bgt: var(--fg);

$bg: #{'alpha(var(--bg), 0.4)'};

$font: var(--font);

$gaps: var(--gaps);

$border: var(--border);
$radius: var(--radius);

$bdimsrc: var(--image0);
$bdimcut: var(--slice0);
$bdimsiz: var(--width0);
$btxtsrc: var(--image1);
$btxtcut: var(--slice1);
$btxtsiz: var(--width1);
$btgtsrc: var(--image2);
$btgtcut: var(--slice2);
$btgtsiz: var(--width2);

$shadow: var(--shadow);

$text: var(--text);
$margin: var(--margin);
$icon: var(--icon);
$popup: var(--popup);

* {
    all: unset;
}

window {
    font-family: 'Symbols Nerd Font Mono', $font;
    font-size: $text;
    color: $txt;
}

.bar {
    background-color: $bg;
    padding: $gaps;
}

.status {
    padding: 0 calc($margin / 2);
    image,
    label {
        padding: 0 calc($margin / 2);
    }
}

@mixin target {
    background-clip: padding-box;
    border-radius: calc($border + $radius);
    border-style: solid;
    border-width: $border;
    border-color: $dim;
    padding: 0 $margin;
}

.target {
    @include target;
    border-image-source: $bdimsrc;
    border-image-slice: $bdimcut;
    border-image-width: $bdimsiz;
    &:hover {
        border-color: $txt;
        border-image-source: $btxtsrc;
        border-image-slice: $btxtcut;
        border-image-width: $btxtsiz;
    }
}

@mixin float {
    @include target;
    border-image-source: $btgtsrc;
    border-image-slice: $btgtcut;
    border-image-width: $btgtsiz;
    background-color: $bg;
    margin: $margin;
    padding: $margin;
    box-shadow: 0 0 $margin $shadow;
    &:not(:first-child),
    :not(:first-child) & {
        margin-top: 0;
    }
}

.workspaces {
    padding: 0 calc($border / 2);
    label {
        padding: 0 $margin;
        margin: 0 calc($border / -2);
        font-size: 125%;
        &.unfocused:not(:hover) {
            border-color: transparent;
            border-image: none;
        }
    }
}

.dim {
    color: $dim;
}

.bright {
    color: $bgt;
}

.iconic {
    font-size: 150%;
}

.hidden {
    color: transparent;
}

.action {
    @include float;
    .title {
        font-weight: bold;
    }
    .subtitle {
        font-style: italic;
    }
    .actions {
        margin-top: $margin;
        border-top: $border solid $shd;
        padding-top: $margin;
        button {
            &:not(:hover) {
                color: $dim;
            }
            &:not(:first-child) {
                border-left: $border solid $shd;
                padding-left: $margin;
            }
            &:not(:last-child) {
                padding-right: $margin;
            }
        }
    }
}

.toggle .action {
    min-width: $popup;
}

.icon {
    min-width: $icon;
    min-height: $icon;
    border-radius: $radius;
    margin-right: $margin;
}

.launcher {
    > * {
        @include float;
    }
    scrolledwindow {
        min-width: $popup;
        min-height: $popup;
        padding: 0;
    }
    button {
        border-radius: $radius;
        padding: 0 $margin;
        min-height: calc(0.75 * $icon);
        &:focus {
            background-color: $shd;
        }
    }
    entry:focus-within + * button:hover {
        background-color: $shd;
    }
    .actions {
        color: $shd;
        padding-left: $margin;
    }
    label:first-child {
        padding-left: calc($icon + $margin);
    }
}

tooltip {
    @include float;
}

.menu {
    @include float;
    button,
    modelbutton {
        &:not(:hover) {
            color: $dim;
        }
        &:not(:first-child) {
            margin-top: $margin;
        }
    }
}

.volume {
    @include float;
    min-width: calc($popup / 2);
    label {
        font-size: 125%;
        margin-right: $margin;
    }
    trough,
    progress {
        border-radius: calc($border / 2);
        min-height: $border;
    }
    trough {
        background-color: $shd;
    }
    progress {
        background-color: $txt;
    }
}

scale trough {
    border-radius: calc($border + ($text / 2) - 0.5px);
    border: $border solid $shd;
}
scale.horizontal trough {
    margin: 0 $margin;
}
slider {
    border-radius: calc($text / 2);
    background-color: $dim;
    min-height: $text;
    min-width: $text;
    &:hover {
        background-color: $txt;
    }
}

calendar {
    @include float;
    color: $dim;
    padding: $margin;
    header,
    .day-name,
    :selected {
        color: $txt;
    }
    .other-month {
        color: $shd;
    }
}

header,
separator.horizontal {
    border-bottom: $border solid $shd;
    padding-bottom: calc($margin / 2);
    margin-bottom: calc($margin / 2);
}
